<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Members only</title>
</head>

<body>
    <h1>Members only</h1>
    <% if(locals.currentUser !=null) { %>
        <% if(!locals.currentUser.is_member) { %>
            <a href="/join-club">Join the club</a>
        <% } %>
        <a href="/posts/new/">Post a message</a>
        <a href="auth/logout">Logout</a>
    <% } else { %>
        <a href="auth/register">Register</a>
        <a href="auth/login">Login</a>
    <% } %>
    <div class="posts">
        <% posts.map(post => { %>
            <% if(locals.currentUser !=null) { %>
                <% if(locals.currentUser.is_member) { %>
                    <h3><%= post.username %></h3>
                <% } %>
                <p><%= post.title %></p>
                <p><%= post.content %></p>
                <p><%= post.created_at %></p>
            <% } %>
        <% }) %>
    </div>

</body>

</html>